*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/assets/csv/2018_0903_1852.csv
app/src/main/assets/csv/2018_0903_1912.csv
app/src/main/assets/csv/2018_0904_1833.csv
app/src/main/assets/csv/2018_0904_1846.csv
app/src/main/assets/csv/2018_0904_1855.csv
app/src/main/assets/csv/2018_0904_1905.csv
app/src/main/assets/csv/2018_1101_0153.csv
app/src/main/assets/csv/2018_1128_1308.csv
app/src/main/assets/csv/2018_1129_1245.csv
app/src/main/assets/csv/2018_1203_1352.csv
app/src/main/assets/csv/2018_1228_1917.csv
app/src/main/assets/csv/2018_1228_1918.csv
app/src/main/assets/csv/2019_0306_1322.csv
app/src/main/assets/csv/2019_0916_1844.csv
app/src/main/assets/csv/2019_1219_1506.csv
app/src/main/assets/csv/2019_1219_1514.csv
app/src/main/assets/csv/2019_1219_1517.csv
app/src/main/assets/csv/2019_1219_1520.csv
app/src/main/assets/csv/2019_1219_1525.csv
app/src/main/assets/csv/2019_1219_1527.csv
app/src/main/assets/csv/2019_1219_1529.csv
app/src/main/assets/csv/2020_0603_1335.csv
app/src/main/assets/csv/2020_0603_1345.csv
app/src/main/assets/csv/2020_0603_1649.csv
